<form action="/addInstitute" method="post">
    <label for="institute-name">Institute name: </label>
    <input type="text" name="institute_name" id="institute-name">
    <label for="alt-name">Alternate names: </label>
    <input type="text" name="alt_name" id="alt-name">
    <label for="website">College Website: </label>
    <input type="text" name="website" id="website">
    <input type="submit" value="Add Institute">
</form>