<h1>Add Paper</h1>
<br>
<form action="/" enctype="multipart/form-data" method="post">
    <label for="clgName">College</label>
    <input list="college" type="text" name="college_name" id="clgName">
    <datalist id="college">
        <option value="Edge">
        <option value="Firefox">
        <option value="Chrome">
        <option value="Opera">
        <option value="Safari">
    </datalist>
    <label for="session">Session</label>
    <input type="text" name="session" id="session">
    <label for="branch">Branch</label>
    <input type="text" name="branch" id="branch">
    <label for="file">PDF</label>
    <input type="file" name="question" id="file">

    <input type="submit" value="submit">
</form>